<nav id="sidebar-nav-links">
  <!-- Home 버튼 -->
  {% if site.sidebar_home_link %}
    <a class="home-link {% if page.url == '/' %} active{% endif %}"
        href="{{ site.baseurl }}/">Home</a>
  {% endif %}

  <!-- Blog 버튼 (근데 이거 뭔지 모르겠다)-->
  {% if site.sidebar_blog_link %}
    <a class="page-link {% if page.url == site.sidebar_blog_link %} active{% endif %}"
	href="{{ site.baseurl }}{{ site.sidebar_blog_link }}">Blog</a>
  {% endif %}

  <!-- 그니까 포스트에다가 sidebar_link: true 를 넣으면 그 포스트는 왼쪽 사이드바에 버튼이 생김 -->
  {% comment %}
    The code below dynamically generates a sidebar nav of pages with
    `sidebar_link: true` in the front-matter. See readme for usage.
  {% endcomment %}

  {% include page-links.html %}
  {% include category-links.html %}

  {% include custom-nav-links.html %}
</nav>
